
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
   background-color: #151210;
   color:#fff;
}
.header{
    width:100%;
    height:100vh;
    background-image:url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    display:flex;
}
.logo{
    margin:40px 0px 0px 10%;
    flex-basis:30%;
}
.nav-content ul{
    display:flex;
    flex-wrap:wrap;
    width:100%;
}
.nav-items{
    display:inline-block;
    list-style: none;
    margin:48px 35px;
}
.nav-items a{
    font-size:25px;
    text-decoration:none;
    color:#ababab;
    position:relative;
}
.nav-items a::after{
    content:"";
    position:absolute;
    left:0px;
    bottom:-6px;
    background: #ff004f;
    width:0%;
    height:3px;
    transition: 0.5s;
}
.nav-items a:hover::after{
    width:100%;
}
.front-content{
    margin:20% 13%;
    color:white;
    font-size:40px;
}
.my_name{
    color:#ff004f;
}


/* ------------about------------  */
.user-section{
    display:flex;
    margin: 0px 13% 0px;
    flex-wrap:wrap;
}
.user-image{
    margin: 20% 0 15%;
    flex-basis:35%;
}
.user-image img{
    width:100%;
    border-radius:10px;
}
.about-section{
    margin:17% 0px 20% 5%;
    flex-basis: 60%;
}
.about{
    color:white;
    font-weight:600;
    font-size: 60px;
    margin:20px 0px;
}
.about-section p{
    color:#ababab;
    font-size:20px;
}


/* ---------------skills------------------ */

.skills{
    display:flex;
    margin: 0px 13% 15%;
    flex-wrap:wrap;
}
.skills H1{
    font-size:60px;
    font-weight:600px;
    color:white;
    margin-bottom:30px;
}

.board {
    background-color: #000;
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.08);
    position: relative;
    z-index: 1;
    margin-top:50px;
    padding:30px;
    flex-wrap:wrap;
}

.sparkle {
    position: absolute;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
    z-index: 2;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.1;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.4);
    }
}

.options{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.options p{
    margin:25px 0px 25px 0px;
    color:#ababab;
    font-size:1.3rem;
    position: relative;
    cursor:pointer;
}
.tabs::after{
    content:"";
    height:3px;
    bottom:-6px;
    left:0px;
    position:absolute;
    background-color: #ff004f;
    transition: 0.5s;
}
.tabs.activelink:hover::after{
    width:50%;
}

.tabcontent{
    display:none;
}
.tabcontent.activetabs{
    display:block;
}
.tabcontent ul li{
    color:#ababab;
    margin:5%;
    list-style:none;
    font-size:20px;
}
.tabcontent ul li span{
    color:#b54769;
    font-size:20px;
}
.skill-img{
    margin:5%;
    display:flex;
    justify-content:space-evenly;
    align-content:center;
    flex-wrap:wrap;
}
.image-item{
    margin:30px;
    height:70px;
    width:70px;
}
.white{
    border-radius:5px;
    background-color:#ababab;
}
/* -----------services-------------- */
.services{
    margin:0px 13%;
}
.services H1{
    font-size:60px;
    font-weight:600px;
    color:white;
    margin-bottom:30px;
}
.service-containers{
    display:flex;
    color:white;
    flex-wrap:wrap;
    margin-top:10%;
}
.service-boxes{
    background-color:#000;
    margin:0px 50px 50px 0px;
    border-radius:6px;
    padding:20px;
    cursor: pointer;
    width:25%;
    transition: background 0.5s ,transform 0.5s;
}
.service-boxes:hover{
    background:#ff004f;
    transform:translateY(-10px);
}
#icon{
    color:white;
    font-size:60px;
    margin-bottom:25px;
}
.service-boxes p{
    margin:25px 0px;
}
.service-boxes p a{
    text-decoration:none;
    color:white;
}

/* ---------------work----------------- */
.work-section{
    margin:13% 13%;
}
.work-section h1{
    font-size:60px;
    font-weight:600px;
    color:white;
    margin-bottom:10%;
}
.work-containers{
    display:flex;
    flex-wrap: wrap;
    margin-top:35px;
}
.work-box{
    margin:0px 50px 50px 0px;;
    position:relative;
    width:28%;
}
.work-box img{
    border-radius:6px;
    height:100%;
    width:100%;
    /* transition:transform 0.5s; */
}
/* .work-box img:hover{
    transform:scale(1,1);
} */
.layer{
    color:white;
    height:0;
    width:100%;
    border-radius:6px;
    overflow:hidden;
    position:absolute;
    left:0px;
    top:0px;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.work-box:hover .layer{
    transition: height 0.8s ease-out 0s;
    height:100%;
}
.layer h3{
   font-size: 25px;
}
.layer p{
    margin:20px;
    font-size:20px;
    text-align: center;
}
.layer a{
    font-size:40px;
    color:white;
}
.final-button{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:50px 0px;
}
.final-button button{
    border:1px solid #ff004f;
    background-color: rgb(36, 30, 30); 
    padding:10px 25px;
    font-size:20px;
}
.final-button button a{
    color:white;
    text-decoration:none;
}
.final-button:hover button{
    background:linear-gradient(rgba(0,0,0,0.2),#ff004f)
}

/* -----------------Contact Section---------------- */

.contact-section{
    display:flex;
    margin:13% 13% 3% 13%;
}
.contact-detail{
    flex-basis:50%;
}
.contact-detail h1{
    font-size:70px;
    color:white;
    margin:0 0 40px;
}
.tele-contact{
    color:#ff004f;
    margin:35px 0 35px 0;
    font-size: 25px;
}
.tele-contact a{ 
    color:white;
    margin:15px;
    font-size:16px;
    text-decoration: none;
}
.social-contacts{
    margin:60px 0 70px 0;
}
.social-contacts a{
    color:white;
    padding-right: 15px;
    font-size:30px;
    display:inline-block;
    transition: transform 0.5s;
}
.social-contacts a:hover{
    transform:translateY(-5px);
    color:#ff004f;
}
.download-cv-button{
    background-color:#ff004f;
    padding:15px 55px;
    font-size:20px;
    border-radius:4px;
    border:0px;
    color:white;
    text-decoration: none;
}
.contact-form{
    flex-basis:60%;
}
.input-feild{
    background-color:black;
    height:50px;
    width:100%;
    border:none;
    align-items: center;
    padding:0 0 0 15px; 
    margin:20px 0 20px 0;
    border-radius: 5px;
    color: white;
    outline:none;
}
.textarea{
    background-color:black;
    padding:15px 0 0 15px;
    color:white;
    margin:20px 0 40px 0;
    border-radius: 5px;
    width:100%;
    outline:none;
    border:none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.submit-form button{
    background-color:#ff004f;
    padding:15px 45px;
    font-size:20px;
    border-radius:5px;
    border:0px;
    color:white;
    cursor:pointer;
    margin-bottom: 60px;
}

#msg{
    color:#61b752;
    font-size:25px;
    display: block;
}
/* ---------------footer-------------- */
.footer{
    background-color: black;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    height:60px;
    font-size:20px;
}
.footer span{
    color:#ff004f;
    font-size:25px;
}

.nav-content .fa-solid{
    display:none;
}
nav .fa-solid{
    display:none;
}


/* --------------responsiveness------------- */

@media only screen and (max-width:768px){
    .header{
        background-image: url("bg_phone.png");
    }
    .nav-items a{
        font-size:20px;
        margin:20px 20px;
        
    }
    .front-content{
        font-size:30px;
    }
    .nav-content .fa-solid{
        display:block;
    }
    .nav-content ul{
        background: #ff004f;
        position:fixed;
        height:100vh;
        width:200px;
        right:-200px;
        padding-top: 50px;
        transition:0.5s;
        z-index:2;
    }
    .nav-content ul li{
        display:block;
        margin-left:10px;
    }
    .nav-content ul li a{
        font-size:20px;
        color:black;
    }
    .nav-content ul .fa-solid{
        position:absolute;
        top:25px;
        left:35px;
        font-size:25px;
    }
    nav .fa-solid{
        display:block;
        position:fixed;
        top:25px;
        right:25px;
        font-size:25px;
    }
    .logo{
        margin:15px;
    }
    .front-content{
        margin:70% 10%;
    }

    /* --------------about---------- */
    .about{
        font-size:30px;
    }
    .about-section p{
        font-size:15px;
    }
    .user-section{
        flex-direction:column;
        margin:0px 13%;
    }
    .about-section{
        margin:0px;
    }
    .tabcontent ul li{
        font-size:15px;
    }
    .tabcontent ul li span{
        font-size:15px;
    }

    /* -------------------skills section -------------------- */
    .skills{
        margin: 15% 13% 15%;
    }
    .skills H1{
        font-size:30px;
    }
    .image-item{
        margin:15px;
        height:35px;
        width:35px;
    }
    .options p{
        margin:20px 0px 20px 0px;
        font-size:1rem;
    }
    .white{
        border-radius:2.5px;
        background-color:#ababab;
    }

    /* ------------services---------- */
    .services{
        margin:50px 13%;
    }
    .services h1{
        font-size:30px;
    }
    .service-boxes{
    margin-bottom: 20px; 
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    width:100%;
    }
    #icon{
        font-size:30px;
    }
    .service-boxes h2{
        font-size:20px;
    }
    .service-boxes p{
        font-size:13px;
    }

    /* ----------work------------ */
    .work-containers{
        margin-top:25px;
    }
    .work-box{
        margin:0px 30px 30px 0px;
        height:100%;
        width:100%;
    }
    .work-section h1{
        font-size:30px;
    }
    .work-containers img{
        padding-bottom:20px;
    }
    .final-button button{
        padding: 10px 20px;
        font-size: 13px;
    }
    .layer h3{
        font-size: 20px;
     }
     .layer p{
         margin:20px;
         font-size:15px;
     }
     .layer a{
         font-size:25px;
         color:white;
     }

    /* ----------contact section-------- */
    .contact-section{
        flex-wrap: wrap;
    }
    .contact-detail h1 {
        font-size: 30px;
    }
    .contact-detail{
        flex-basis:100%;
    }
    .tele-contact {
        margin: 25px 0 25px 0;
        font-size: 15px;
    }
    .tele-contact a {
        color: white;
        margin-left:10px;
    }
    .download-cv-button {
        padding: 10px 35px;
        font-size: 15px;
    }
    .contact-form{
        margin-top:30px;
        flex-basis:100%;
    }
    .submit-form button {
        padding: 13px 35px;
        font-size: 15px;
        border-radius: 5px;
    }

    /* --------------copyright------------- */
    .footer{
        height:40px;
        font-size:18px;
    }
    .footer span{
        color:#ff004f;
        font-size:20px;
    }
}




@media only screen and ((min-width:769px) and (max-width:1025px)){
    .nav-items {
        margin: 48px 14px;
    }
    .nav-items a{
        font-size:20px;
    }
    .header{
        background-image: url("bg_tab.png");
    }
    /* --------------about---------- */
    .user-section{
        display:flex;
        margin: 0px 0% 0px;
        flex-wrap:wrap;
    }
    .user-image{
        margin: 10% 5%;
        flex-basis:40%;
    }
    .about-section{
        margin:10% 5% 20% 0%;
        flex-basis: 45%;
    }

    /* ------------services---------- */
    .services{
        margin:50px 13%;
    }
    .services h1{
        font-size:30px;
    }
    .service-boxes{
    margin-bottom: 20px; 
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    width:100%;
    }
    #icon{
        font-size:30px;
    }
    .service-boxes h2{
        font-size:20px;
    }
    .service-boxes p{
        font-size:13px;
    }

    /* ----------work------------ */
    .work-containers{
        width:100%;
    }
    .work-box{
        width:100%;
    }
    .work-section h1{
        font-size:30px;
    }
    .work-containers img{
        padding-bottom:20px;
    }
    .final-button button{
        padding: 10px 20px;
        font-size: 13px;
    }
    .layer h3{
        font-size: 20px;
    }
    .layer p{
         margin:20px;
         font-size:15px;
        }
    .layer a{
         font-size:25px;
         color:white;
     }

     /* ----------contact section-------- */
    .contact-section{
        flex-wrap: wrap;
    }
    .contact-detail h1 {
        font-size: 30px;
    }
    .contact-detail{
        flex-basis:100%;
    }
    .tele-contact {
        margin: 25px 0 25px 0;
        font-size: 15px;
    }
    .tele-contact a {
        color: white;
        margin-left:10px;
    }
    .download-cv-button {
        padding: 10px 35px;
        font-size: 15px;
    }
    .contact-form{
        margin-top:30px;
        flex-basis:100%;
    }
    .submit-form button {
        padding: 13px 35px;
        font-size: 15px;
        border-radius: 5px;
    }

    /* --------------copyright------------- */
    .footer{
        height:40px;
        font-size:20px;
    }
    .footer span{
        color:#ff004f;
        font-size:25px;
    }
}
@media only screen and ((min-width:1026px) and (max-width:1250px)){
    .nav-items {
        margin: 48px 14px;
    }
    .nav-items a{
        font-size:25px;
    }
    .header{
        background-image: url("bg_tab.png");
    }

    .user-section{
        display:flex;
        margin: 0px 0% 0px;
        flex-wrap:wrap;
    }
    .user-image{
        margin: 10% 5%;
        flex-basis:40%;
    }
    .about-section{
        margin:10% 5% 20% 0%;
        flex-basis: 45%;
    }
    .work-box{
        width:25%;
    }
}
